<!DOCTYPE html>
<html>
<head>
    @Html.Partial("HeadPartial")
</head>
<body>
    <div class="navbar navbar-inverse " role="navigation">
        <div class="container">
            @Html.Partial("PartialLogoAndNavbarHeader")
            <div class="collapse navbar-collapse">
                @Html.Partial("PartialMenu")
            </div><!--/.nav-collapse -->

        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer" style="position: absolute">
        <div class="container">
            <div class="copyr">© 2017 - 2018 - Obsidian Blockexplorer v. 1.21 | <a href="https://obsidianproject.org">Obsidian Project</a>@* | <a href="https://obsidianplatform.com/blog">Obsidian Platform Blog</a>*@</div>
            <div class="pull-right f-social">
                @*<a href="https://www.facebook.com/TheObsidianPlatform/"><img src="~/images/fb.png" /></a>*@
                <a href="https://twitter.com/Obsidian_ODN"><img src="~/images/tw.png" /></a>
               
            </div>
        </div>
    </footer>
    @Html.Partial("BottomPartial")

    @RenderSection("scripts", required: false)
</body>
</html>