@model Blockexplorer.Models.TransactionModel
@{
    ViewData["Title"] = "Transaction - " + Model.Transaction.TransactionId;
    var divclass = Model.Transaction.IsColor ? "colortr" : "";
}

<div class="container">
    <header class="top-nav-links clearfix">
        <h1>Transaction</h1>
        <table class="table table-rounded ">
            <tbody>
                <tr>
                    <td class="no-wrap">Hash / txid</td>
                    <td class="expand-column">@Model.Transaction.TransactionId</td>
                </tr>

            </tbody>
        </table>
    </header>

    <div class="page-content">
        <div class="transaction-explorer">
            <div class="row">
                <div class="col-md-7">
                    <div class="title-bl">Details</div>
                    <table class="table table-rounded ">
                        <tbody>
                            <tr>
                                <td class="no-wrap">Type</td>
                                <td class="expand-column">@Model.Transaction.GetTransactionTypeText()</td>
                            </tr>
                            <tr>
                                <td class="no-wrap">Received</td>
                                <td class="expand-column">
                                    @($"{Model.Transaction.Time:F}")
                                </td>
                            </tr>
                          
                                <tr>
                                    <td class="no-wrap">Fee</td>
                                    <td class="expand-column">
                                        @if(Model.Transaction.TransactionType == Blockexplorer.Core.Domain.TransactionType.PoS_Reward || Model.Transaction.TransactionType == Blockexplorer.Core.Domain.TransactionType.PoW_Reward_Coinbase)
                                        {
                                            <text>N/A</text>}
                                        else
                                        {
                                            <text>@(String.Format("{0:0.00######}", Model.Transaction.Fees)) ODN</text>


                                        }
                                   
                                    </td>
                                </tr>
                               
                            <tr>
                                <td class="no-wrap">Block Height</td>
                                <td class="expand-column">
                                    <a href="@Url.Action("Index", "Block", new { id = Model.Transaction.Block.Height })">@Model.Transaction.Block.Height</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-5">
                    @if (Model.Transaction.Block != null)
                    {
                        <div class="title-bl">Block</div>
                        <table class="table table-rounded ">
                            <tbody>
                                <tr>
                                    <td class="no-wrap">Confirmations</td>
                                    <td class="expand-column">@Model.Transaction.Block.Confirmations Confirmations</td>
                                </tr>
                                <tr>
                                    <td class="no-wrap">Time</td>
                                    <td class="expand-column">@($"{Model.Transaction.Block.Time:F}")</td>
                                </tr>
                                <tr>
                                    <td class="no-wrap">Block Hash</td>
                                    <td class="expand-column"><a href="@Url.Action("Index", "Block", new { id = Model.Transaction.Block.Hash })">@Model.Transaction.Block.Hash</a></td>
                                </tr>
                                <tr>
                                    <td class="no-wrap">Proof-of-Stake</td>
                                    <td class="expand-column">@Model.Transaction.Block.IsProofOfStake</td>
                                </tr>
                            </tbody>
                        </table>}
                </div>
            </div>
            <div class="panel panel-default transaction-details tr-de-inner detal-tr-inner @divclass">
                <div class="panel-heading">
                    <h3 class="panel-title">ODN</h3>
                </div>

                @Html.Partial("PartialTransactionDetails", Model)

            </div>

        </div>

    </div>
    <div class="footer-push"></div>
</div>