
@model Blockexplorer.Models.TransactionModel
@{
    Layout = null;
}

<ul class="list-group">

    <li class="list-group-item clearfix intput-output-group-list-item">
        <div class="intput-output-group">
            <div class="icon dspl-icon">
                <img src="/images/favicon.png" style="width: 35px; height: 35px; margin: 5px;" />
            </div>
            <div class="inputs">
                @if (Model.Transaction.TransactionType == Blockexplorer.Core.Domain.TransactionType.PoW_Reward_Coinbase)
                {
                    <div class="address-item ">
                        <div class="amount">

                        </div>
                        <div class="address">
                            <b>Miner Reward</b>
                            @if (Model.Transaction.TotalOut == 0m)
                            {
                                <b>Zero (Placeholder in Proof-of-Stake Block)</b>
}
                        </div>
                    </div>}
                else if (Model.Transaction.TransactionType == Blockexplorer.Core.Domain.TransactionType.PoS_Reward)
                {
                    <div class="address-item ">
                        <div class="amount">

                        </div>
                        <div class="address">
                            <b>Proof-of-Stake Reward</b>
                            @if (Model.Transaction.TransactionsOut.Count > 2)
                            {

                                <b>plus Fees</b>
}
                        </div>
                    </div>}
                else
                {
                    foreach (var input in Model.Transaction.TransactionIn.Where(input => input.AssetId == null))
                    {
                        <div class="address-item">
                            <div class="amount">
                                @input.PrevVOutFetchedValue
                            </div>
                            <div class="address">
                                <i class="fa fa-lg fa-arrow-left displ-fa"></i>
                                @if (input.PrevVOutFetchedAddress == null)
                                {
                                    <span>Unrecognized address</span>
}
                                else
                                {
                                    <a href="@Url.Action("Index", "Address", new { id = input.PrevVOutFetchedAddress })">@input.PrevVOutFetchedAddress</a>
                                    <br />
                                    <a href="@Url.Action("Index", "Transaction", new { id = input.PrevTxIdPointer })">@input.PrevTxIdPointer</a>
}
                                @*
                                        @input.Value

                                    </div>
                                    <div class="address">
                                        <a onclick="return false;" href="@Url.Action("Index", "Address", new { id = input.Address })">@input.Address</a>
                                        <br/>
                                        <a href="@Url.Action("Index", "Transaction", new { id = input.TransactionId })">@input.TransactionId</a>
                                *@
                            </div>
                        </div>
}

                    <div class="address-item">
                        <div class="amount">
                            <br />
                            @Model.Transaction.TransactionIn.Sum(x => x.PrevVOutFetchedValue)
                        </div>
                        <hr />
                        <div class="address">
                            Total in
                        </div>
                    </div>
                    <br />

                }
            </div>
            @if (!(Model.Transaction.TransactionType == Blockexplorer.Core.Domain.TransactionType.PoW_Reward_Coinbase && Model.Transaction.TotalOut == 0m))
            {

                <div class="outputs">
                    <div class="outputs-container">
                        <div class="center-chevron" style="left: -50px;">
                            <img src="/images/arrow.png" />
                        </div>

                        @if (Model.Transaction.TransactionType == Blockexplorer.Core.Domain.TransactionType.PoS_Reward)
                        {
                            <div class="address-item ">
                                <div class="amount">
                                    @((Model.Transaction.TransactionsOut.Sum(x => x.Value) - Model.Transaction.TransactionIn.Sum(x => x.PrevVOutFetchedValue)).ToString("#.00######"))
                                </div>
                                <div class="address">

                                    <a href="@Url.Action("Index", "Address", new { id = Model.Transaction.TransactionsOut[1].Address })">@Model.Transaction.TransactionsOut[1].Address</a>

                                </div>
                            </div>}
                        else
                        {
                            int index = 0;
                            foreach (var output in Model.Transaction.TransactionsOut)
                            {
                                <div class="address-item ">
                                    @if (index == 1)
                                    {

                                        <div class="amount" style="font-weight: bold">
                                            @output.Value.ToString("0.00######")
                                        </div>
}
                                    else
                                    {
                                        <div class="amount">
                                            @output.Value.ToString("0.00######")
                                        </div>
}
                                    <div class="address">
                                        <a href="@Url.Action("Index", "Address", new { id = output.Address })">@output.Address</a>
                                    </div>
                                </div>index++;
                            }
                            @if (Model.Transaction.TransactionType != Blockexplorer.Core.Domain.TransactionType.PoW_Reward_Coinbase)
                            {
                                <div class="address-item">
                                    <div class="amount">
                                        <br />
                                        @Model.Transaction.Fees
                                    </div>
                                    <hr />
                                    <div class="address">
                                        Fee paid
                                        <br />
                                    </div>
                                </div>
                                <div class="address-item">
                                    <div class="amount">
                                        <br />
                                        @(Model.Transaction.TransactionsOut.Sum(x => x.Value) + Model.Transaction.Fees)
                                    </div>
                                    <hr />
                                    <div class="address">
                                        Total out
                                    </div>
                                </div>
}

                            <br />}


                    </div>
                </div>}

        </div>
    </li>
</ul>